# number of occurrences of item 50

In [1]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print(tuple1.count(50))

3

# to copy elements from the tuple into a new tuple

In [14]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2 = tuple1[2:-2]
print(tuple2)

(43, 54)

# Python program to change Bradâ€™s salary to 8500

In [15]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# to rename a key city to a location

In [16]:
sample_dict = {
    "name": "John",
    "age": 5,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New york'}

# insert a number to any position in a list

In [17]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 ] 
  
# insert 10 at 4th index 
list1.insert(4, 10) 
print(list1)

[1, 2, 3, 4, 10, 5, 6, 7]

# to accept the radius of a circle and display its area

In [18]:
r=int(input("Enter radius of the circle: "))
print("Area of the circle is: ", 3.14*r*r)

Enter radius of the circle: 10
Area of the circle is:  314.0

# to accept two numbers from the user and display its product

In [19]:
print(2*3)

6

# to convert temperatures to and from Celsius Fahrenheit.

In [20]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 56
56.00 Celsius is: 132.80 Fahrenheit

In [21]:
fahrenheit = float(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5/9
print('%.2f Fahrenheit is: %0.2f Celsius' %(fahrenheit, celsius))

Enter temperature in fahrenheit: 140
140.00 Fahrenheit is: 60.00 Celsius